gunicorn
Flask                                        
mediapipe                                    
opencv-contrib-python                        
opencv-python                                
PyAutoGUI                                    
