<!DOCTYPE html>
<html>

<head>
  <title>Controller</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../static/assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="../static/assets/css/noscript.css" />
  </noscript>
</head>

<body class="is-preload">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Header -->
    <header id="header" class="alt">
      <span class="logo"><img src="../static/images/logo.svg" alt="" /></span>
      <h2>Application Controller Using OpenCV</h2>
      <h3>built by Vibhav</h3>
    </header>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="#intro" class="active">Introduction</a></li>
        <li><a href="#mouseSection">Mouse Section</a></li>
        <li><a href="#carSection">Car Section</a></li>
        <li><a href="#mediaSection">Media Started</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="main">
      <!-- Introduction -->
      <section id="intro" class="main">
        <div class="spotlight">
          <div class="content">
            <header class="major">
              <h2>Introduction</h2>
            </header>
            <p>
              This site is designed so that you can easily use the controllers
              i made using mediapipe and OpenCv on any device from anywhere at
              anytime.<br />
              I have designed three types of controller : Mouse, Media and
              Racing game.
            </p>
            <!-- <ul class="actions">
											<li><a href="generic.html" class="button">Learn More</a></li>
										</ul> -->
          </div>
          <span class="image"><img src="../static/images/VSLOGO.png" alt="" /></span>
        </div>
      </section>

      <!-- First Section -->
      <section id="mouseSection" class="main special section">
        <header class="major">
          <h2>Mouse Pointer</h2>
        </header>
        <ul class="features">
          <li>
            <img class="image-new" src="static\images\move.gif" />
            <h3>Move Pointer</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\click.gif" />
            
            <h3>Click</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\up_scroll.gif" />
            
            <h3>Scroll Up</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\down_scroll.gif" />

            <h3>Scroll Down</h3>
          </li>
        </ul>
        <footer class="major">
          <ul class="actions special">
            <li><button class="onoff">Press To Run</button></li>
          </ul>
        </footer>
      </section>

      <!-- Second Section -->
      <section id="carSection" class="main special section">
        <header class="major">
          <h2>Racing Game Controller</h2>
        </header>
        <ul class="features">
          <li>
            <img class="image-new" src="static\images\straight.gif" />

            <h3>Go Straight</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\left_car.gif" />

            <h3>Turn Left</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\right_car.gif" />

            <h3>Turn Right</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\brakes.gif" />

            <h3>Brakes Applied</h3>
          </li>
        </ul>

        <footer class="major">
          <ul class="actions special">
            <li>
            <li><button class="onoff">Press To Run</button></li>
            </li>
          </ul>
        </footer>
      </section>
      <!-- Third Section -->
      <section id="mediaSection" class="main special section">
        <header class="major">
          <h2>Media Player</h2>
        </header>
        <ul class="features1">
          <li>
            <img class="image-new" src="static\images\pauseplay.gif" />

            <h3>Play/Pause</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\Vol_up.gif" />

            <h3>Volume Up</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\vol_down.gif" />
            
            <h3>Volume Down</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\forward.gif" />

            <h3>Forward</h3>
          </li>
          <li>
            <img class="image-new" src="static\images\backward.gif" />

            <h3>Backward</h3>
          </li>
        </ul>
        <footer class="major">
          <ul class="actions special">
            <li><button class="onoff">Press To Run</button></li>
          </ul>
        </footer>
      </section>
      <!-- Get Started -->
      <section id="cta" class="main special">
        <header class="major">
          <h2>Demo</h2>
          <p>Here is a small video of my application controller.</p>
        </header>
        <footer class="major"></footer>
      </section>
    </div>

    <script>

      function executeFunction(section) {
        switch (section) {
          case "mouse":
            // Call the GoMouse function or perform Mouse-related actions
            console.log("Executing GoMouse function");
            executePythonScript("mouse.py");
            break;
          case "car":
            // Call the GoCar function or perform Car-related actions
            console.log("Executing GoCar function");
            executePythonScript("steeringwheel.py");
            break;
          case "media":
            // Call the GoMedia function or perform Media-related actions
            console.log("Executing GoMedia function");
            executePythonScript("mediaplayer.py");
            break;
          default:
            console.log("Invalid section");
        }
      }

      function executePythonScript(scriptPath) {
        fetch(`/run-script?script=${scriptPath}`)
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((error) => console.error(error));
      }

      document.addEventListener("DOMContentLoaded", function () {
        const onOffBtns = document.querySelectorAll(".onoff");

        onOffBtns.forEach(btn => {
          btn.addEventListener("click", function () {
            // Get the closest ancestor section element
            const section = btn.closest("section");
            if (section) {
              // Extract the section ID
              const activeSection = section.id.replace("Section", "");
              // Execute the corresponding function for the active section
              executeFunction(activeSection);
            } else {
              console.log("Error: Section not found");
            }
          });
        });
      });


      // document.querySelector("#off").addEventListener("click", function () {
      //   // Call the terminate_steering_wheel function here
      //   document.querySelector("#off").disabled = true;
      // });
    </script>

    <!-- Footer -->
    <footer id="footer">
      <section>
        <h2>Thank you for visiting my site. </h2>
        
      </section>
 
    </footer>
  </div>

  <!-- Scripts -->
  <script src="../static/assets/js/jquery.min.js"></script>
  <script src="../static/assets/js/jquery.scrollex.min.js"></script>
  <script src="../static/assets/js/jquery.scrolly.min.js"></script>
  <script src="../static/assets/js/browser.min.js"></script>
  <script src="../static/assets/js/breakpoints.min.js"></script>
  <script src="../static/assets/js/util.js"></script>
  <script src="../static/assets/js/main.js"></script>
</body>

</html>